@font-face {
  font-family: coolvetica;
  src: url("../Eventpage/coolvetica\ rg.ttf");
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

body{
  background-color: #0A0E2A;
  color: #DBDBDB;
}

h1, h2{
  font-family: coolvetica;
  letter-spacing: 0.1ch;
}

.landingScreen{
  background-repeat: no-repeat;
  background-size: contain;
}
.landingScreenImg{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landingScreenImg img{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
  background-repeat: no-repeat;
  overflow: hidden;
}

.landingOverlay{
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: .6;
  position: absolute;
  /* z-index: ; */
}

.landingTitleWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingTitleWrapper h4{
  color: #DBDBDB;
  font-weight: light;
  margin: 0px;
  padding: 0px;
}

/* .typewriter {
  color: #DBDBDB;
  width: 37ch;
  animation: typing 8s steps(22) infinite,
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
} */

.events{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  /* position: absolute; */
  transform: translateY(-150px);
}

.eventCard{
  width: 240px;
  height: 205px;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(5px 5px 10px rgba(60, 247, 251, 0.2));
  border-radius: 4px;
}

.eventCard h4{
  font-family: coolvetica;
  letter-spacing: 0.2ch;
  display: flex;
    justify-content: center;
}

.eventCard:hover{
  animation-name: pulse;
  animation-duration: 1s;
}



.eventImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* position: relative; */
  /* filter: drop-shadow(5px 5px 10px rgba(60, 247, 251, 0.2)); */
}

.eventName{
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  position: absolute;
  margin: 0px;
  padding: 0px;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

/* ************************ About Us *********************** */
.aboutUsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.aboutUsContainer h2{
  font-size: 1.5rem;
  text-align: left;
}



.aboutImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}



/* ********************** Our Vision *********************** */
.Vision {
  background-color: #000324;
  width: 68%;
  margin: auto;
  padding: 2vh 5vh 2vh 5vh;
  /* transform: translateX(43px); */
  font-size: larger;
  display: flex;
  color: #dbdbdb;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


/* *************************** Our Mission **************************** */
.ourMission{
  margin: 100px;
}
.ourMission h2{
  text-align: center;
  color: white;
}
.ourMissionContainer{
  /* display: grid; */
  grid-template-columns: auto auto auto;
  justify-self: center;
  align-items: center;
  row-gap: 20px;
}

/* .ourMission h2{
  font-size: 2rem;
  font-family: coolvetica;
} */

.mission{
  width: 294px;
  height: 160px;
  /* display: flex;
  align-items: flex-start; */
  /* flex-direction: column; */
  justify-content: center;
  background-color: #201F45;
  border-radius: 8px;
  padding: 20px;
  margin-right: 0px;
}

.mission:hover{
  animation-name: pulse;
  animation-duration: 1s;
  filter: drop-shadow(5px 5px 10px rgba(60, 247, 251, 0.2));
}

.missionImgContainer{
  background-color: #DBDBDB;
  padding: 5px;
  border-radius: 4px;
  width: 54px;
  margin-bottom: 10px;
}

.missionImg{
  width: 54px;
height: 54px;
}

.missionDes{
  justify-content: center;
  align-items: center;
}

/* ************************ What We Do ************************** */


.whatWeDo h2{
  text-align: center;
}

.whatWeDoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 100px; */
  column-gap: 20px;
}

.work{
  background-color: #DBDBDB;
  color: #0A0E2A;
  width: 220px;
  height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.work:hover{
  animation-name: pulse;
  animation-duration: 1s;
}

.work h4{
  margin-bottom: 0;
}

.work p{
  text-align: center;
}

.workImg{
  width: 50px;
height: 50px;
}

.workImgContainer{
  position: absolute;
  top: -25%;
  background-color: #201F45;
  padding: 20px;
  border-radius: 50%;
  filter: drop-shadow(5px 5px 10px rgba(60, 247, 251, 0.2));
}

/* ********************* Media Queries ************************* */


/* @media screen and (max-width: 1078px) {
  .eventCard{
    width: 150px;
    height: 115px;
  }
} */

@media screen and (max-width: 400px) {
  .landingScreenImg{
    height: 50%;
  }
  .landingScreenImg img{
    height: 50%;
  }
  .landingTitleWrapper {
    height: 50%;
  }
  .aboutUsContainer{
    height: 50%;
  }
}

@media screen and (max-width: 1062px) {
  .ourMissionContainer{
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 1390px) {
  .events{
    display: none;
  }
}

@media screen and (min-width: 1390px) {
  .esd{
    display: none;
  }
}












@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

.landImg {
  font-family: 'Raleway', sans-serif;
  object-fit: cover;
  background: rgb(0, 0, 0) url('https://drive.google.com/uc?export=download&id=1596ddPDlY3R-ODVis_zWdgGiQ4CpX1Cj') no-repeat center center / cover;
  color: #ccc;
  width: 100%;
  height: 100%;
  padding-bottom: 20%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.typewriterACM{
  padding-top: 15%;
}

/* h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
} */

/* h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1rem;
  color: rgb(180, 180, 180);
} */

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

.eventsForSmallDevices{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}

/* .esd{
  display: none;
} */

.wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.word {
  margin:0;
  padding: 0;
  /* height: 70px; */
  font-family: coolvetica;
  /* border-right: 3px solid rgb(255, 255, 255); */
  /* line-height: 70px; */
  overflow: hidden;
  /* animation: moveRight 6000ms steps(45) infinite, borderBlink 300ms infinite; */
  font-size: 50px;
  white-space: nowrap;
}

.cursor {
  height: 80%;
  width: 3px;
  color: rgb(255, 255, 255);
}

@keyframes moveRight {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes borderBlink {
  0%,
  100% {
    border-right-color: transparent;
  }

  50% {
    border-right-color: rgb(255, 255, 255);
  }
}

@media(max-width: 1297px) {
  .word{
  font-size: 20px;
  }
  .container h3{
    font-size: 10px;
  }
  .cursor {
    height: 100px;
  }
}