@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text:wght@600&family=Roboto:wght@300&display=swap');
.Video {
    opacity: 50%;
}

.About {
    background-color: #02073D;
    width: 65%;
    margin: -5vh 18vh 0vh 30vh;
    padding: 2vh 5vh 2vh 5vh;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.Vision {
    background-color: #02073D;
    width: 65%;
    margin: 5vh 18vh 5vh 30vh;
    padding: 2vh 5vh 2vh 5vh;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Landing-image {
    width: 100%;
}

.Events {
    margin-top: -10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titleACM{
    font-family: 'Anton', sans-serif;
    position: relative;
    text-align: center;
    color: #02073D;
}
.titleACM h1{
    letter-spacing: 2px;
    font-size: 3rem;
}
.titleACM h3{
    font-family: 'Crimson Text', serif;
  font-size: 1.7rem;
}