@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Readex+Pro:wght@200;400;600&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.abtheading {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  color: #001019;
  padding-top: 70px;
}

.abtcontent {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #001019;
  padding-top: 25px;
}

.abtimg {
  width: 457px;
  height: 326.25px;
  border: 40px solid #ffffff;
  filter: drop-shadow(4px 4px 20px rgba(55, 112, 255, 0.12));
}

/* hero */

.hero{
    padding: 0 20px;
}
.heroHeading {
  font-family: Righteous;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #16BDFF 22.99%, #7B83FD 79.15%);
  font-size: 7rem;
  margin: 10px;
}

.heroContent{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.2rem;
}

.heroContentDate{
    font-family: Montserrat;
    font-weight: 700;   
}

/* ***************************** PRIZES ********************************* */

.prizesHeading{
  font-family: 'Righteous', cursive;
}

.amount h2{
  font-family: Montserrat;
  font-weight: bold;
}



/* ***************************** DOMAIN ********************************* */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(180deg, #FF8A50 22.99%, #F54951 79.15%);
border: 20px solid #FFFFFF;
box-shadow: 4px 4px 20px rgba(50, 106, 249, 0.2);
border-radius: 10px;
}

.flip-card-back {
  /* width: 100%;
  height: 100%; */
  border: 20px solid transparent;
  border-image: linear-gradient(180deg, #FF8A50 22.99%, #F54951 79.15%);
  border-image-slice: 1;
  transform: rotateY(180deg);
  box-shadow: 4px 4px 20px rgba(50, 106, 249, 0.2);
border-radius: 10px;
margin-left: -38px;
}

h3{
  font-family: Montserrat;
}

/* ***************************** TIMELINE ********************************* */
.timeline p{
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1rem;

} 



.timeStamps{
  width: 32%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .timeStamps{
    width: 80%;
  }
  /* .timelineGrid{
    column-gap: 10px;
  } */
}

@media screen and (max-width: 884px) {
  .timeStamps{
    width: 40%;
  }
  .timelineGrid{
    column-gap: 10px;
  }
}

@media screen and (max-width: 836px) {
  .timeStamps{
    width: 60%;
  }
  .timelineGrid{
    column-gap: 10px;
  }
}

@media screen and (max-width: 610px) {
  .timeStamps{
    width: 80%;
  }
  .timelineGrid{
    column-gap: 10px;
  }
}