@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

h1 {
    color: #3cf7fb;
    padding: 20px;
  }

h2{
    color: white;
    font-size: 24px;
    font-weight: normal;
}  

.comCard{
  background-color: #171636 !important;
  box-shadow: 2px 2px 4px 0px #3cf7fb !important;
  border-radius: 25px !important;
  width: 320px !important;
  padding-top: 40px;
  margin: 28px;
}

.comName{
  color: white !important;
  font-size: 18px !important;
  padding-top: 16px;
}

.comPosition{
  color: red !important;
  font-style: italic !important;
}

.comCard:hover {
  animation: pulse 1s;
}

.comImg{
  height: 50%;
  border-radius: 50% !important;
  width: 50% !important;
  box-shadow: 0px 0px 8px #3cf7fb;
}