@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Poppins:wght@200;300&display=swap');

/* Hero */

.heroSub{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 4% 4% 0%;
}

.heroFair{
    font-family: 'Alumni Sans', sans-serif;
    color: #187271;
    font-weight: 800;
    font-size: 5rem;
    padding: 0% 4% 0%;
    

}
.extraHero{
    color: black;
    padding: 0% 4% 0%;
    font-weight: 600;

}

/* About Page */

.image-stack {
    display: grid;
    position: relative; 
    grid-template-columns: repeat(12, 1fr);
  }
  
  .image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;
  }
  
  .image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 20%;
    z-index: 1; 
  }
  
  .imgFair {
    width: 100%;
    display: block;
  }