body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto");
.whatWeDo{
    background-color: #000324;
    padding-top: 3%;
    font-family: "Roboto", sans-serif;
    padding-bottom: 10%;
    height: 400px;
}

.ourMission{
    background-color: #000324;
    font-family: "Roboto", sans-serif;
    padding-top: 3%;
}

.whatWeDo>h1{
    color: #dbdbdb;
}

.ourMission>h1{
    color: #dbdbdb;
}

.mission_card{
    height: calc(100vh/2.5);
    
}

.work_card:hover{
    
    border-radius: 10%;
    box-shadow: 0.05rem 0.05rem 1.0rem 0.1rem rgba(75, 250, 250, 0.822);
    background-color:  #000324;
    height: calc(100vh/2.1);
}

.work_image{
    display: block;
     width: 1%;
     background-color:  #000324;
     transition: all 0.5s linear;
}

.work_card{
    background-color:  #000324;
    width: 400px;
}

.work_card:hover .work_image{
    width: 60%;
    margin-top: 1rem ;
    background-color:  rgba(24, 22, 61, 0.904);
}

.work_content{
    width: calc(100% - 1.0rem);
    margin: 0rem auto;
    color: #dbdbdb;
    background-color:  rgba(24, 22, 61, 0.904);
    text-align: center;
}

.work_title{
    width: 100%;
    height: fit-content;
    color: #dbdbdb;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 0.8rem;
}

.work_description{
    font-size: 1.0rem;
    font-family: 'Roboto', sans-serif;
    display: none;
    transition: all 0.5s linear;
    color: #dbdbdb !important;
}

.work_card:hover::after .work_description{
    display: block ;
    color: rgba(24, 22, 61, 0.904);
    transition: all 0.5s linear;    
}

.mission_card .mission_image{
  display: block;
  width: 60%;
  height: auto;
  
}